
<div class="jumbotron">
<h1>Welcome To My App</h1>
<p>It's My ROR App, Where you can save your pictures.</p>
<%= link_to 'About us', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-default' %>
</div>
